.meals-summary {
    width: 50%;
    margin: -6rem auto;
    position: relative;
}

.summary-main {
    position: absolute;
    background-color: #313131;
    text-align: center;
    border-radius: 1rem;
    color: white;
    box-shadow: 5px 5px 5px #313131;
    padding: 0.8rem;
    z-index: 9999;
}

.meals-summary h1 {
    margin-top: 0;
}

.meals-summary p {
    font-size: 0.8rem;
}